<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/entry.css">
    <link rel="stylesheet" href="/styles/attendence.css">
    <link rel="stylesheet" href="/styles/sturec.css">
    <link rel="stylesheet" href="/styles/record.css">
    <link rel="stylesheet" href="/styles/sres.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>student panel</title>
</head>
<body>
    <div class="titlebar">
        <h1>student panel</h1>
    </div>

