<%- include("partials/header") -%>

<div class="form">
    <form action="/" method="post">
        <input type="password" name="passcode" placeholder="your secret key..." required autocomplete="off" autofocus>
        <input type="submit" value="login">
    </form>
</div>


<%- include("partials/footer") -%>